$title-yellow: rgb(241, 198, 5); 
$title-background: rgb(12, 21, 50);
$background-blue: rgb(52, 56, 79);
$primary-text: whitesmoke;
$secondary-text: rgb(244, 220, 115);
$card-background: rgb(189, 189, 162);